*{
    padding: 0;
    margin: 0;
  }
  
  .fotos{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 10px;
    
  }
  .galeria{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    justify-content: center;
  }
  .galeria2{
    display: flex;
    flex-direction: row;
  }

.lista{
  color: rgb(165, 27, 27);
  
}
.titulo{
  padding: 20px;
  margin: 0%;
  color: brown;
  background-color: burlywood;
  border-radius: 20px;
  width: 200px;
  height: 30px;
}

.footer {
color: rgb(0, 0, 0);  
background-color: burlywood;
display: flex;
justify-content: center;
}
.header{
  color: black;
  background-color: burlywood;
  display: flex;
  justify-content: start;
  
  
}

@media only screen and (max-device-width: 900px) {
  /* .menu { width:100%; } */
  }