*{
    padding: 0;
    margin: 0;
  }
  
  .fotos{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 10px;
    
  }
  .galeria{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    justify-content: center;
  }
  .galeria2{
    display: flex;
    flex-direction: row;
  }

.lista{
  color: rgb(165, 27, 27);
  
}
.titulo{
  padding: 20px;
  margin: 0%;
  color: brown;
  background-color: burlywood;
  border-radius: 20px;
  width: 200px;
  height: 30px;
}

.footer {
color: rgb(0, 0, 0);  
background-color: burlywood;
display: flex;
justify-content: center;

}
.header{
  color: black;
  background-color: burlywood;
  display: flex;
  justify-content: start;
  
  
}

@media screen and (max-width: 600px){
  body{
    width: 100vw;
  }

  .footer{
    width: 90vw;
    height: 100vw;
    justify-content: left;
    
  } 

  .logo h1{
    font-size: 30px;
    
  }
  .header{
    width: 90vw;
    height: 70px;
  }
  .header h1{
    font-size: 27px;
  }

  .fotos{
    width: 75px;
    height: 90px;
  }
  .galeria{
    text-align: start;
    justify-content: left;
    padding: 10px 20px;
  }
}